################################
# ROS2 编译文件
################################

build/
install/
log/

*.log


################################
# ROS2运行缓存
################################

.ros/


################################
# VSCode配置
################################

.vscode/

# 如果希望共享部分配置，可以改成：
# .vscode/settings.json
# .vscode/tasks.json


################################
# Python缓存
################################

__pycache__/

*.pyc
*.pyo
*.pyd

*.egg-info/


################################
# C++编译缓存
################################

*.o
*.obj

*.so
*.a

*.dll

cmake-build-*/


################################
# 测试产生的数据
################################

test_data/

data/

output/

result/


################################
# 相机采集数据
################################

captures/

images/

videos/

pointclouds/

*.bag

*.db3


################################
# 相机SDK临时文件
################################

*.cache

*.tmp

*.temp


################################
# 日志
################################

logs/

*.log


################################
# 系统文件
################################

.DS_Store

Thumbs.db


################################
# 本地环境
################################

.env

*.local


################################
# ROS参数临时文件
################################

*.yaml.bak

*.yaml.tmp


################################
# Qt/OpenCV缓存
################################

.qmake.stash

.moc/

.obj/


################################
# 临时编辑文件
################################

*~

*.swp

*.swo